<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Post</title>
</head>
<link rel="stylesheet" href="form.css">

<body>
    <H2>UPLOAD POST</H2>
    <form method="post" action="/posts">
        <input type="text" name="username" id="user">
        <input type="text" name="content" id="content">
        <button>SUBMIT</button>
    </form>
</body>

</html>